{
	"rules": {
		"no-cond-assign": [2, "always"],
		"no-console": [1],
		"no-constant-condition": [2],
		"no-control-regex": [2],
		"no-debugger": [1],
		"no-dupe-args": [2],
		"no-dupe-keys": [2],
		"no-duplicate-case": [2],
		"no-empty-character-class": [2],
		"no-empty": [2],
		"no-ex-assign": [2],
		"no-extra-boolean-cast": [2],
		"no-extra-semi": [2],
		"no-func-assign": [2],
		"no-invalid-regexp": [2],
		"no-irregular-whitespace": [2],
		"no-obj-calls": [2],
		"no-regex-spaces": [2],
		"no-sparse-arrays": [1],
		"no-unreachable": [2],
		"use-isnan": [2],
		"valid-typeof": [2],
		"no-unexpected-multiline": [2],
		"no-undef": [2],
		"no-multi-spaces": [2],
		"no-multi-str": [1],
		"indent": [2, "tab"],
		"quotes": [2, "single"],
		"semi": [2, "always"],
		"brace-style": [ 2, "stroustrup", { "allowSingleLine": true }],
		"strict": [2,"function"],
		"no-var": [2],
		"camelcase": [2, { "properties": "never" }],
		"consistent-return": [2],
		"curly": [2, "all"],
		"default-case": [2],
		"dot-notation": [1],
		"dot-location": [1, "property"],
		"eqeqeq": [2],
		"no-caller": [2],
		"no-div-regex": [1],
		"no-else-return": [1],
		"no-empty-label": [2],
		"no-eval": [2],
		"no-extra-bind": [1],
		"no-eq-null": [2],
		"no-fallthrough": [2],
		"no-floating-decimal": [1],
		"no-implicit-coercion": [2, { "boolean": true, "number": true, "string": true }],
		"no-implied-eval": [2],
		"no-iterator": [2],
		"no-labels": [2],
		"no-lone-blocks": [1],
		"no-native-reassign": [2],
		"no-loop-func": [1],
		"no-new-func": [2],
		"no-new-wrappers": [2],
		"no-new": [2],
		"no-octal-escape": [2],
		"no-octal": [1],
		"no-proto": [2],
		"no-redeclare": [2],
		"no-script-url": [2],
		"no-self-compare": [2],
		"no-sequences": [2],
		"no-throw-literal": [2],
		"no-useless-call": [1],
		"no-useless-concat": [1],
		"no-void": [2],
		"no-return-assign": [1, "always"],
		"no-with": [2],
		"radix": [2],
		"wrap-iife": [2, "outside"],
		"block-spacing": [1, "always"],
		"comma-spacing": [2, {"before": false, "after": true}],
		"eol-last": [2],
		"key-spacing": [2, { "beforeColon": false, "afterColon": true }],
		"new-cap": [2],
		"new-parens": [2],
		"no-array-constructor": [2],
		"no-inline-comments": [1],
		"no-lonely-if": [2],
		"no-mixed-spaces-and-tabs": [2],
		"no-multiple-empty-lines": [1, { "max": 1 }],
		"no-nested-ternary": [2],
		"no-trailing-spaces": [1, { "skipBlankLines": false }],
		"no-underscore-dangle": [1],
		"no-unneeded-ternary": [1],
		"object-curly-spacing": [2, "always", { "objectsInObjects": true }],
		"operator-linebreak": [1, "before", { "overrides": { "=": "after" } }],
		"padded-blocks": [1, "never"],
		"space-after-keywords": [1, "always"],
		"space-before-blocks": [1, "always"],
		"space-in-parens": [1, "never"],
		"space-infix-ops": [1],
		"space-return-throw-case": [1],
		"spaced-comment": [1, "always", { "exceptions": ["/"] }],
		"arrow-parens": [2, "always"],
		"arrow-spacing": [2, { "before": true, "after": true } ],
		"no-const-assign": [2],
		"object-shorthand": [1, "always"],
		"prefer-arrow-callback": [1],
		"prefer-const": [1],
		"prefer-template": [1],
		"no-shadow-restricted-names": [2],
		"no-shadow": [2, { "builtinGlobals": true, "hoist": "all" }],
		"no-unused-vars": [2, {"vars": "all", "args": "all"}],
		"callback-return": [2],
		"global-require": [2],
		"handle-callback-err": [2]
	},
	"env": {
		"es6": true,
		"node": true,
		"mocha": true,
		"browser": true
	},
	"ecmaFeatures": {
		"modules": true
	}
}
